@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-links, .right-links {
  display: flex;
  gap: 12px;
}

.content {
  text-align: center;
  margin-top: 150px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin-top: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}