/* Add CSS Styling */
.odd {
    background-color: rgb(255, 106, 175);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#four {
    background-color: rgb(28, 231, 28);
    font-size: 24px;
    font-weight: bold;
}